* {
    margin: 0px;
    padding: 0px;
}

.objetivo {
    padding: 20px 10px;
    background-color: rgb(204, 204, 255);
    font-size: 15px;
}

.objetivo h1 {
    margin-bottom: 10px;
}

.integrantes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(2, 2, 82);
}

.integrantes div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: white;
}

.integrantes div h2 {
    margin-bottom: 20px;
}

.integrantes img {
    width: 380px;
    filter: brightness(0.95) opacity(0.75);
}

.cor{
    background-color: white;
}

.cor div {
    color: black;
}

.cor img {
    filter: none;
}

footer {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: rgb(0, 0, 19);
}